:root {
    --primary: #001E4E;
}
div.wrapper {
    padding: 0 15vw;
}
header, legend, span, h1, h2, h3, .controls, #mapid {
    font-family: 'Ubuntu', sans-serif;
}
#passDialogue {
    z-index: 1000;
    background-color: rgba(0, 0, 0, .7);
}
#passDialogue section.dialogue {
    max-width: 400px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
#mapid {
    height: 70vh;
    min-height: 18em;
}