<main>
    <header>
        <img src="../../assets/logo.svg" alt="Night Crusade Titals Logo" class="img-fluid">
        <h1 class="mt-3">Night Crusade Titans</h1>
        <p>Aid NCT's Dance Guardians: Safeguarding the Lower Mainland, One Groove, One Report at a Time!</p>
        <button type="button" class="btn btn-outline-primary" routerLink="/create">CREATE NUISANCE REPORT</button>
    </header>
    <section class="cont rounded-top">
        <header>
            <h2>Reports</h2>
            <div class="btn-group">
                <button type="button" class="btn" [ngClass]="{'btn-active':mapOn}" routerLink="/map" (click)="toggleView(true)"><fa-icon [icon]="faMap"></fa-icon></button>
                <button type="button" class="btn" [ngClass]="{'btn-active':!mapOn}" routerLink="/list" (click)="toggleView(false)"><fa-icon [icon]="faList"></fa-icon></button>
            </div>
        </header>
        <router-outlet></router-outlet>
    </section>
</main>